<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CrawlerTaskMapper">

  <cache />
  <resultMap id="crawlerTaskResultMap" type="CrawlerTask">
     <result property="taskId" column="task_id" />
     <result property="ruleId" column="rule_id" />
     <result property="total" column="total" />
     <result property="complete" column="complete" />
     <result property="status" column="status" />
     <result property="ruleName" column="rule_name" />
     <result property="type" column="type" />
   </resultMap>
  
  <select id="getCrawlerTaskList" parameterType="CrawlerTaskCriteria" resultMap="crawlerTaskResultMap">
    SELECT   
          t.task_id,
          t.rule_id,
          t.total,
          t.complete,
          t.status,
          r.rule_name,
          t.type
    FROM 
          crawler_task t,crawler_rule r
    WHERE t.rule_id = r.rule_id
         <if test="status != null and status != '' ">  
	        AND t.status = #{status}  
	    </if>
	    <if test="type != null and type != '' ">  
	        AND t.type = #{type}  
	    </if>
  	ORDER BY 
          t.task_id DESC
   </select>
    <select id="getCrawlerTaskList_COUNT" parameterType="CrawlerTaskCriteria" resultType="java.lang.Integer">
    SELECT count(*)
    FROM 
          crawler_task t,crawler_rule r
    WHERE t.rule_id = r.rule_id
         <if test="status != null and status != '' ">  
	        AND t.status = #{status}  
	    </if>
	    <if test="type != null and type != '' ">  
	        AND t.type = #{type}  
	    </if>
  	ORDER BY 
          t.task_id DESC
   </select>
   
   <select id="getCrawlerTaskByRuleId" parameterType="java.util.Map" resultMap="crawlerTaskResultMap">
    SELECT   
          t.task_id,
          t.rule_id,
          t.total,
          t.complete,
          t.status,
          r.rule_name,
          t.type
    FROM 
          crawler_task t,crawler_rule r
    WHERE t.rule_id = r.rule_id
    AND t.rule_id = #{ruleId}
     AND t.type = #{type} AND t.status <![CDATA[ <> 'complete' ]]>
   </select>
   
  <insert id="insertCrawlerTask" parameterType="CrawlerTask"  useGeneratedKeys="true"  keyProperty="taskId">
    INSERT INTO crawler_task
      (rule_id,total,complete, status,type)
    VALUES
      (#{ruleId}, #{total},  #{complete}, #{status}, #{type})
  </insert>
  
  <update id="updateCrawlerTask" parameterType="CrawlerTask">
    UPDATE crawler_task
            <trim prefix="SET" suffixOverrides=",">  
           		<if test="ruleId != null and ruleId != '' ">  
		            rule_id = #{ruleId}, 
		        </if> 
		         <if test="total != null and total != '' ">  
		            total = #{total}, 
		        </if> 
		        <if test="complete != null and complete != '' ">  
		            complete = #{complete}, 
		        </if> 
		        <if test="status != null and status != '' ">  
		            status = #{status},
		        </if>
		        <if test="type != null and type != '' ">  
		            type = #{type}
		        </if>
		   </trim>
     WHERE task_id = #{taskId} AND type = #{type} AND status <![CDATA[ <> 'complete' ]]>
  </update>
 
  <update id="updateCrawlerTaskStatus" parameterType="CrawlerTask">
    UPDATE crawler_task
           <trim prefix="SET" suffixOverrides=",">
		        <if test="status != null and status != '' ">  
		            status = #{status}
		        </if>
		   </trim>
     WHERE rule_id = #{ruleId} AND type = #{type} AND status <![CDATA[ <> 'complete' ]]>
  </update>
  <update id="updateCrawlerTaskTotal" parameterType="CrawlerTask">
    UPDATE crawler_task 
           <trim prefix="SET" suffixOverrides=",">
		        <if test="total != null and total != '' ">  
		            total = #{total}
		        </if>
		   </trim>
     WHERE rule_id = #{ruleId} AND type = #{type} AND status <![CDATA[ <> 'complete' ]]>
  </update>
  <update id="updateCrawlerTaskComplete" parameterType="CrawlerTask">
    UPDATE crawler_task 
           <trim prefix="SET" suffixOverrides=",">
		        <if test="total != null and total != '' ">  
		            total = #{total},
		        </if>
		         <if test="complete != null and complete != '' ">  
		            complete = #{complete}
		        </if>
		   </trim>
     WHERE rule_id = #{ruleId} AND type = #{type} AND status <![CDATA[ <> 'complete' ]]>
  </update>
  <delete id="deleteCrawlerTask" parameterType="CrawlerTask">
     DELETE FROM crawler_task WHERE task_id = #{taskId}
  </delete>
  
  <delete id="deleteCrawlerTaskByRuldId" parameterType="CrawlerTask">
     DELETE FROM crawler_task WHERE rule_id = #{ruleId}
  </delete>
  
</mapper>