<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright 2010 The myBatis Team

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:aop="http://www.springframework.org/schema/aop"
     xmlns:tx="http://www.springframework.org/schema/tx"
     xmlns:jdbc="http://www.springframework.org/schema/jdbc"
     xmlns:context="http://www.springframework.org/schema/context"
     xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
  
  <!--  <context:component-scan base-package="org.javacoo.crawler.ui" />-->
  <context:component-scan base-package="org.javacoo.cowswing" />
 <!-- 允许 autowire -->
  <context:annotation-config />
  <bean id="cowSwingMainFrame" class="org.javacoo.cowswing.main.CowSwingMainFrame" >
  </bean>
  
  <bean id="curtainCardPerspective" class="org.javacoo.cowswing.ui.view.card.CurtainCardPerspective">
  	<constructor-arg index="0" ref="pageContainer"/>
	<constructor-arg index="1" ref="navigator"/>
  </bean>
  
  <!-- 以下可以配置为扫描 -->
  
  <bean id="viewDialog" class="org.javacoo.cowswing.ui.view.dialog.ViewDialog">
  </bean>
  <bean id="appMenuBar" class="org.javacoo.cowswing.ui.view.bar.AppMenuBar">
  </bean>
  <bean id="appToolBar" class="org.javacoo.cowswing.ui.view.bar.AppToolBar">
  </bean>
  <bean id="navigator" class="org.javacoo.cowswing.ui.view.navigator.Navigator">
  </bean>
  <bean id="pageContainer" class="org.javacoo.cowswing.ui.view.panel.PageContainer">
  </bean>
  <bean id="viewDeatilPanel" class="org.javacoo.cowswing.ui.view.panel.ViewDeatilPanel" scope="prototype">
  </bean>
  <bean id="viewImagePanel" class="org.javacoo.cowswing.ui.view.panel.ViewImagePanel" scope="prototype">
  </bean>
  <bean id="paginationBar" class="org.javacoo.cowswing.ui.util.PaginationBar" scope="prototype">
  </bean>
  <bean id="systemTabPanel" class="org.javacoo.cowswing.ui.view.panel.SystemTabPanel" >
  </bean>
  
  <bean id="advertisementPanel" class="org.javacoo.cowswing.plugin.core.ui.view.panel.AdvertisementPanel" >
  </bean>
  <bean id="systemInfoPanel" class="org.javacoo.cowswing.plugin.core.ui.view.panel.SystemInfoPanel" >
  </bean>
  <bean id="systemMemoryMonitorPanel" class="org.javacoo.cowswing.plugin.core.ui.view.panel.SystemMemoryMonitorPanel" >
  </bean>
  <bean id="systemConfigSettingPanel" class="org.javacoo.cowswing.plugin.core.ui.view.panel.SystemConfigSettingPanel" >
  </bean>
  
  <bean id="aboutAction" class="org.javacoo.cowswing.plugin.core.ui.action.AboutAction" >
  </bean>
  <bean id="exitAction" class="org.javacoo.cowswing.plugin.core.ui.action.ExitAction" >
  </bean>
  <bean id="helpAction" class="org.javacoo.cowswing.plugin.core.ui.action.HelpAction" >
  </bean>
  <bean id="welcomeAction" class="org.javacoo.cowswing.plugin.core.ui.action.WelcomeAction" >
  </bean>
  <bean id="showSystemTabPanelAction" class="org.javacoo.cowswing.plugin.core.ui.action.ShowSystemTabPanelAction" >
  </bean>
  <bean id="showSystemConfigSettingAction" class="org.javacoo.cowswing.plugin.core.ui.action.ShowSystemConfigSettingAction" >
  </bean>
  
  
  <bean id="core" class="org.javacoo.cowswing.plugin.core.ui.Core" >
  </bean>
  
  <bean id="cowSwingCacheManager" class="org.javacoo.cowswing.core.cache.support.CowSwingCacheManager" >
  </bean>
  <bean id="coreCache" class="org.javacoo.cowswing.plugin.core.service.cache.CoreCache" >
  </bean>
  <bean id="applicationStartScheduleProcessor" class="org.javacoo.cowswing.ui.processor.ApplicationStartScheduleProcessor" >
  </bean>
  <bean id="cacheScheduleProcessor" class="org.javacoo.cowswing.core.runcycle.schedule.processor.support.CacheScheduleProcessor" >
  </bean>
  <bean id="startSchedule" class="org.javacoo.cowswing.core.runcycle.schedule.support.StartSchedule" >
  </bean>
  <bean id="runSchedule" class="org.javacoo.cowswing.core.runcycle.schedule.support.RunSchedule" >
  </bean>
  <bean id="shutDownSchedule" class="org.javacoo.cowswing.core.runcycle.schedule.support.ShutDownSchedule" >
  </bean>
  
  
</beans>
