<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:jaxws="http://cxf.apache.org/jaxws"  
    xsi:schemaLocation="    
         http://www.springframework.org/schema/beans    
         http://www.springframework.org/schema/beans/spring-beans.xsd    
         http://www.springframework.org/schema/context    
         http://www.springframework.org/schema/context/spring-context.xsd  
         http://cxf.apache.org/jaxws  
         http://cxf.apache.org/schemas/jaxws.xsd"> 
    
    <bean id="managerClient" class="com.bjm.pms.crawler.webservice.manager.ManagerService" factory-bean="managerClientFactory"  
        factory-method="create" />  
          
    <bean id="managerClientFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">  
        <property name="serviceClass" value="com.bjm.pms.crawler.webservice.manager.ManagerService" />  
      <property name="address" value="http://www.javacoo.com/webservice/ManagerService" /> 
       <!--<property name="address" value="http://localhost/webservice/ManagerService" />  -->  
    </bean> 
</beans>